
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
  --primary-dark:#FF4343;
  --primary-light:#FFFFFF;
}

body {
  background-color: var(--primary-dark);
  color:var(--primary-light);
  
}
h1{
  text-align: center;
  
}
.container {
  width: 50%;
  margin: auto;
}
input,
label {
  display: block;
  width: 100%;

}

input {
    width: 100%;
    border: 1.5px solid var(--color-primary);
  outline: none;
  border-radius: 25px;
  padding: 0.4rem 0.8rem;
 

}
button {
  display: block;
  margin-top: 1rem;
margin: 1rem;
  background: transparent;
  color: var(--primary-light);
  border-color:var(--primary-light);
  border-width: medium;
  padding: o.5rem;
  border-radius: 0.4rem;
  align-self: ce;
}  

